* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* Typography */

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header-btns {
  display: flex;
}

.btn {
  margin: 1.125em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  background-color: palevioletred;
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
}

.btn-cat {
  margin-left: 0;
  font-size: 1.25rem;
  border-radius: 0 5px 5px 0;
}

select {
  padding: 0.5em 1em;
  font-size: 1.25rem;
  border-radius: 5px 0 0 5px;
}