* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F4F4F4;
}

/* Typography */

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}

.header-btns {
  display: flex;
  margin-bottom: 10px;
}

.btn {
  margin-right: 20px;
  padding: 0.5em 1em;
  border: 2px solid #FFC837;
  border-radius: 5px;
  background-color: #FFC837;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.btn-cat {
  margin-left: 0;
  border-radius: 0 5px 5px 0;
}

select {
  border: 2px solid #FFC837;
  padding: 0.5em 1em;
  border-radius: 5px 0 0 5px;
}

.users {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  gap: 10px;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #FFC837;
}

/* New User Modal */

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 10;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 0.125em 0.5em;
  font-size: 1.125rem;
  border-radius: 2px;
}

input:focus {
  outline: 2px solid #FFC837;
}